---
const currentYear = new Date().getFullYear();
---

<div class="py-4 text-center">
      <p>&copy; {currentYear} Anik von Rohr</p>
      <div class="flex justify-center mt-2">
        <a href="/impressum" class="mr-4">Impressum</a>
        <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
      </div>
</div>