---
const currentYear = new Date().getFullYear();
const { bgColor } = Astro.props;
---

<div class:list={["py-4 text-center", bgColor? `${bgColor}` : "bg-[var(--bone-500)] tracking-wide"]}>
  <p>&copy; {currentYear} Anik von Rohr</p>
  <div class="flex justify-center mt-2">
    <a href="/impressum" class="mr-4">Impressum</a>
    <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
  </div>
</div>
