---
---
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2"></script>

<nav x-data="{ open: false }" class="absolute w-full text-white bg-amber-800/30">
    <div class="flex items-center justify-between max-w-6xl md:max-w-[80%] p-4 mx-auto">

        <div>
            <span class="text-lg font-bold">Anik von Rohr</span>
        </div>
        <div>
            <img src="" alt="Logo" class="h-8">
        </div>
        <div class="lg:hidden">
          <button @click="open = !open" class="text-white focus:outline-none">
              <svg x-show="!open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
            <svg x-show="open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        </div>
        <div :class="{ 'hidden': !open }" class="lg:flex lg:items-center lg:justify-end">
            <a href="#" class="mr-4">Systemische Beratung</a>
            <a href="#" class="mr-4">Über mich</a>
            <a href="#contact">Kontakt</a>
        </div>
    </div>
</nav>
