---
import LayoutSite from '@layouts/LayoutSite.astro'
---

<LayoutSite>
    <main class="max-h-full p-4 sm:py-12 sm:px-12 bg-site-bg-main">
        <div id="contact"></div>
        <section class="flex flex-col justify-center h-full gap-12 mx-auto xl:flex-row bg-contact-bg-main">
            <div id="contact-information" class="flex-1 lg:p-8 ">
                <div class="mx-auto my-10 rounded-md shadow-sm bg-contact-bg-secondary h-[90%]">
                    <h2>Anik von Rohr</h2>
                    <h3>Systemische Beraterin (DGSF-zertifiziert)</h3>
                    <h3>Lehrkraft für die Primarschule Unter- und Mittelstufe (Diplom, Basel, Schweiz)</h3>

                </div>
            </div>
            <div id="contact-form" class="flex-1 lg:p-8">
<!-- https://web3forms.com/ -->
                <div class="flex items-center max-h-screen">
                    <div class="container mx-auto">
                        <div class="p-5 mx-auto my-10 bg-white rounded-md shadow-sm">
                            <div class="text-center">
                                <h1 class="my-3 text-3xl font-semibold text-gray-700">
                                    Schreib mir!
                                </h1>
                                <p class="text-gray-700">
                                    Bitte fülle untenstehende Informationen aus, um mich zu kontaktieren.
                                </p>
                            </div>
                            <div class="m-7">
                                <form action="https://api.web3forms.com/submit" method="POST" id="form">
                                    <input type="hidden" name="access_key" value="25c1888d-2861-4dc5-9ae6-ca3148a9bd9a" />
                                    <input type="hidden" name="subject" value="Neue Nachricht von deiner Webseite" />
                                    <input type="checkbox" name="botcheck" id="" style="display: none;" />
                    
                                    <div class="mb-6">
                                        <label for="name" class="block mb-2 text-sm text-gray-700">Vollständiger Name</label>
                                        <input type="text" name="name" id="name" placeholder="Vorname Nachname" required class="w-full px-3 py-2 text-gray-800 border border-gray-300 rounded-md placeholder-amber-800/50 bg-amber-200/50 focus:outline-none focus:ring focus:ring-amber-100 focus:border-amber-300" />
                                    </div>
                                    <div class="mb-6">
                                        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Email Addresse</label>
                                        <input type="email" name="email" id="email" placeholder="deine@email.de" required class="w-full px-3 py-2 text-gray-800 border border-gray-300 rounded-md placeholder-amber-800/50 bg-amber-200/50 focus:outline-none focus:ring focus:ring-amber-100 focus:border-amber-300" />
                                    </div>
                                    <div class="mb-6">
                                        <label for="phone" class="text-sm text-gray-600 dark:text-gray-400">Telefonnummer</label>
                                        <input type="text" name="phone" id="phone" placeholder="+49 170 123456" required class="w-full px-3 py-2 text-gray-800 border border-gray-300 rounded-md placeholder-amber-800/50 bg-amber-200/50 focus:outline-none focus:ring focus:ring-amber-100 focus:border-amber-300" />
                                    </div>
                                    <div class="mb-6">
                                        <label for="message" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Nachricht</label>
                    
                                        <textarea rows="5" name="message" id="message" placeholder="Nachricht" class="w-full px-3 py-2 text-gray-800 border border-gray-300 rounded-md placeholder-amber-800/50 bg-amber-200/50 focus:outline-none focus:ring focus:ring-amber-100 focus:border-amber-300" required></textarea>
                                    </div>
                                    <div class="mb-6">
                                        <button type="submit" class="w-full px-3 py-4 text-white rounded-md bg-amber-500 focus:bg-indigo-600 focus:outline-none">
                                            Nachricht abschicken
                                        </button>
                                    </div>
                                    <p class="text-base text-center text-gray-500" id="result"></p>
                                </form>
                            </div>
                        </div>
                      </div>
                    </div>
            </div>

        </section>      
    </main>
</LayoutSite>

<script>
    const form = document.getElementById('form') as HTMLFormElement;
    const result = document.getElementById('result') as HTMLParagraphElement;
    
    form!.addEventListener('submit', function(e) {
        const formData = new FormData(form);
        e.preventDefault();
    
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
    
        result!.innerHTML = "Bitte warten..."
    
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
              let json = await response.json();
              if (response.status == 200) {
                result!.innerHTML = json.message;
                result!.classList.remove("text-gray-500");
                result!.classList.add("text-green-500");
              } else {
                console.log(response);
                result!.innerHTML = json.message;
                result!.classList.remove("text-gray-500");
                result!.classList.add("text-red-500");
              }
            })
            .catch((error) => {
              console.log(error);
              result!.innerHTML = "Etwas ist schiefgelaufen!";
            })
            .then(function() {
                form!.reset();
                setTimeout(() => {
                    result!.style.display = "none";
                }, 3000);
            });
    });
    </script>

<style>
    main {
        background-image: url(../../../assets/backgrounds/grainy-bg-c4af201.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        }
</style>