---
import LayoutSite from '@layouts/LayoutSite.astro'
import { Image } from 'astro:assets';

import AnikKontakt from '@images/AnikKontakt_H30A2015.webp'
---

<LayoutSite>
    <main id="contact" class="p-4 lg:py-12 sm:px-12">

        <section class="grid grid-cols-1 lg:grid-cols-2 [grid-template-areas: 'cnt_info' 'cnt_img' 'cnt_form'] lg:[grid-template-areas: 'cnt_info cnt_form' 'cnt_info cnt_form'] justify-center gap-12 mx-auto">
            <div class="h-full">

                <div id="contact-information" class="cnt_info">
                    <div class="mx-auto rounded-md shadow-sm ">
                        <h2 id="contact-information__name">Anik von Rohr</h2>
                        <h3 id="contact-information__title">Systemische Beraterin (DGSF-zertifiziert)</h3>
                        <h3 id="contact-information__title">Lehrkraft für die Primarschule Unter- und Mittelstufe (Diplom, Basel, Schweiz)</h3>
    
                    </div>
                </div>
                <div class="cnt_img">
                    <Image src={AnikKontakt} alt="Anik von Rohr" class="object-cover object-center w-auto h-full" />
                </div>
            </div>

            <!-- https://web3forms.com/ -->
            
            <div class="flex items-center cnt_form">
                <div class="container flex mx-auto">
                    <div class="p-2 mx-auto bg-white shadow-sm">
                        <div class="text-center">
                            <h1 class="my-3 text-3xl font-semibold text-gray-700">
                                Schreib mir!
                            </h1>
                            <p class="text-gray-700">
                                Bitte fülle untenstehende Informationen aus, um mich zu kontaktieren.
                            </p>
                        </div>
                        <div class="m-7">
                            <form action="https://api.web3forms.com/submit" method="POST" id="form" class="h-full">
                                <input type="hidden" name="access_key" value="25c1888d-2861-4dc5-9ae6-ca3148a9bd9a" />
                                <input type="hidden" name="subject" value="Neue Nachricht von deiner Webseite" />
                                <input type="checkbox" name="botcheck" id="" style="display: none;" />
                
                                <div class="mb-6">
                                    <label for="name" class="block mb-2 text-lg text-gray-700">Vollständiger Name</label>
                                    <input type="text" name="name" id="name" placeholder="Vorname Nachname" required class="w-full px-3 py-2 text-gray-800 border border-gray-300 placeholder-amber-800/50 bg-amber-200/50 focus:outline-none focus:ring focus:ring-amber-100 focus:border-amber-300" />
                                </div>
                                <div class="mb-6">
                                    <label for="email" class="block mb-2 text-lg text-gray-600 dark:text-gray-400">Email Addresse</label>
                                    <input type="email" name="email" id="email" placeholder="deine@email.de" required class="w-full px-3 py-2 text-gray-800 border border-gray-300 placeholder-amber-800/50 bg-amber-200/50 focus:outline-none focus:ring focus:ring-amber-100 focus:border-amber-300" />
                                </div>
                                <div class="mb-6">
                                    <label for="phone" class="text-lg text-gray-600 dark:text-gray-400">Telefonnummer</label>
                                    <input type="text" name="phone" id="phone" placeholder="+49 170 123456" required class="w-full px-3 py-2 text-gray-800 border border-gray-300 placeholder-amber-800/50 bg-amber-200/50 focus:outline-none focus:ring focus:ring-amber-100 focus:border-amber-300" />
                                </div>
                                <div class="mb-6">
                                    <label for="message" class="block mb-2 text-lg text-gray-600 dark:text-gray-400">Nachricht</label>
                
                                    <textarea rows="5" name="message" id="message" placeholder="Nachricht" class="w-full px-3 py-2 text-gray-800 border border-gray-300 placeholder-amber-800/50 bg-amber-200/50 focus:outline-none focus:ring focus:ring-amber-100 focus:border-amber-300" required></textarea>
                                </div>
                                <div class="mb-6">
                                    <button type="submit" class="w-full px-3 py-4 text-white bg-amber-500 focus:bg-indigo-600 focus:outline-none">
                                        Nachricht abschicken
                                    </button>
                                </div>
                                <p class="text-base text-center text-gray-500" id="result"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>      
    </main>
</LayoutSite>

<script>
    const form = document.getElementById('form') as HTMLFormElement;
    const result = document.getElementById('result') as HTMLParagraphElement;
    
    form!.addEventListener('submit', function(e) {
        const formData = new FormData(form);
        e.preventDefault();
    
        const object = Object.fromEntries(formData);
        const json = JSON.stringify(object);
    
        result!.innerHTML = "Bitte warten..."
    
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
              let json = await response.json();
              if (response.status == 200) {
                result!.innerHTML = json.message;
                result!.classList.remove("text-gray-500");
                result!.classList.add("text-green-500");
              } else {
                console.log(response);
                result!.innerHTML = json.message;
                result!.classList.remove("text-gray-500");
                result!.classList.add("text-red-500");
              }
            })
            .catch((error) => {
              console.log(error);
              result!.innerHTML = "Etwas ist schiefgelaufen!";
            })
            .then(function() {
                form!.reset();
                setTimeout(() => {
                    result!.style.display = "none";
                }, 3000);
            });
    });
    </script>

<style>
    #contact-information__name {
        font-size: clamp(1.5rem, 1.5rem + 2.5vi, 4rem);
    }
    #contact-information__title {
        font-size: clamp(1.5rem, 1.5rem + 1vi, 3rem);
    }
    main {
        background-image: url(../../../assets/backgrounds/grainy-bg-c4af201.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        }
        
</style>