---
---

  <main
    class="max-h-[30dvh] flex items-center lg:w-2/3 max-w-[1600px] m-2 p-12 mx-auto"
  >
    <section>
      <div
        class="flex flex-col justify-between mx-auto"
      >
        <h1
          id="quote__text"
          class="font-normal leading-tight text-center sm:leading-tight md:leading-tight text-wrap text-[var(--text-600)]"
        >
          “Das Leben ist nicht das, was es sein sollte. Es ist, was es ist. Die
          Art und Weise, damit umzugehen, macht den Unterschied.”
        </h1>
        <p
          id="quote__author"
          class="mt-4 text-center lg:text-right text-[var(--text-800)]"
        >
          *Virginia Satir, Psychotherapeutin und Familientherapeutin
        </p>
      </div>
    </section>
  </main>

<style>
  #quote__text {
    font-size: clamp(1.5rem, 1rem + 1.75vi, 4rem);
  }
  #quote__author {
    font-size: clamp(0.75rem, 0.75rem + 0.75vi, 1.5rem);
  }
</style>
