---
import LayoutSite from "@layouts/LayoutSite.astro";
import Navbar from "@components/site/common/Navbar.astro";
import Footer from "@components/site/common/Footer.astro";
import { Image } from "astro:assets";

// images
import Window from "@images/Window_Gabriel Tenan.jpg";
import Teppich from "@images/teppich_engin_akyurt.webp";
import Pattern from "@images/Pattern_Daniel_Mc_Cullough.jpg";
---

<LayoutSite title="Anik von Rohr - Systemische Beratung">
  <!-- <Navbar /> -->
  <main class="h-full text-[var(--bone-800)] md:p-12 md:w-5/6 max-w-[1600px] mx-auto gap-6">
    <div class="h-[60px] lg:h-[100px]"></div>

    <section
      class="grid lg:grid-cols-[1fr_2fr] xl:grid-cols-[2fr_2fr] grid-cols-1 md:gap-8 overflow-hidden"
    >
      <div class="p-8 bg-[var(--bone-300)]  place-content-center leading-12 text-wrapper">
        <div class="">

          <h1 class="text-3xl 2xl:text-4xl">Was ist systemische Beratung?</h1>
          <h2 class="mb-4 text-2xl 2xl:text-3xl">Was bedeutet "systemisch"?</h2>
          <div class="grid gap-8 text-xl 2xl:text-2xl">
  
            <p class="">
              Wir sind immer auch "Teil eines Ganzen", denn aus der Systemischen Sicht ist unser Erleben und Verhalten nicht isoliert zu betrachten, sondern in der Dynamik von wechselseitigen Beziehungen zur Umwelt.
            </p>
            <p class="">
              Verändert sich ein Teil des Systems so kann das Auswirkungen auf das gesamte System haben.
            </p>
            <p class="">
              In der systemischen Beratung biete ich Ihnen fachliche Hilfe "von außen" und begleite sie aufmerksam und kreativ, individuelle, neue Wege zu finden!
            </p>
            <p class="">
              Dabei ist systemisches Arbeiten stets zukunfts-,lösungs- und ressourcenorientiert.
            </p>
        </div>
        </div>
      </div>
      
      <div class="flex overflow-hidden image-wrapper min-h-[55vh]">
          <Image src={Teppich} alt="Happy Bruce Galpin" type="webp" class="object-cover object-center flex-1 w-full h-full" />
        </div>
    </section>

    <section class="xl:grid xl:grid-cols-[2fr_1fr] grid-cols-1 flex flex-col-reverse md:gap-8 mt-6"
    >
    <div class="flex overflow-hidden image-wrapper min-h-[30vw]">
      <Image src={Pattern} alt="Happy Bruce Galpin" type="webp" class="block object-cover object-center flex-1 w-full h-full" />
    </div>
    <div class="p-8 bg-[var(--bone-700)] text-[var(--bone-200)] place-content-center leading-12 text-wrapper">
      <h2 class="mb-4 text-2xl 2xl:text-3xl">Anliegen für eine Beratung können sein:</h2>
      <ul class="grid gap-3 pt-4 text-xl list-disc list-inside 2xl:text-2xl">
        <li>mit schwierigen Veränderungen im Leben besser klar zu kommen</li>
        <li>Krisen meistern und für Veränderungen nutzen</li>
        <li>
          alte Muster reflektieren und im Hier und Jetzt neue Lösungsstrategien
          entwickeln lernen
        </li>
        <li>
          Konflikte im familiären oder beruflichen Bereich erkennen und
          bewältigen lernen
        </li>
        <li>
          Bei Unsicherheiten und Fragen in der Erziehung und den damit
          verbundenen Stress
        </li>
        <li>bei beruflichen Veränderungswünschen</li>
      </ul>
      </div>
    </section>
    

    <section
      class="grid lg:grid-cols-[2fr_2fr] xl:grid-cols-[2fr_2fr] grid-cols-1 md:gap-8 overflow-hidden mt-6"
    >
      <div class="p-8 bg-[var(--bone-300)] place-content-center leading-12 text-wrapper">
        <div>

            <h2 class="mb-4 text-2xl 2xl:text-3xl"  >
              Wichtige übergeordnete Ziele Systemischer Praxis sind:
            </h2>
            <ul class="grid gap-3 pt-4 text-xl list-disc list-inside 2xl:text-2xl">
              <li>Erweiterung von Handlungsmöglichkeiten</li>
              <li>Erwerb sozialer und psychologischer Kompetenzen</li>
              <li>Entwicklung neuer Perspektiven</li>
              <li>Bearbeitung spezifischer Entscheidungsfragen</li>
              <li>Bewältigung persönlicher Krisen</li>
            </ul>
          </div>
        </div>
      <div class="flex overflow-hidden image-wrapper min-h-[200px] xl:min-h-[40vh]">
        <Image src={Window} alt="Happy Bruce Galpin" type="webp" class="block object-cover object-center flex-1 w-full h-full" />
      </div>
    </section>
 </main>

<!-- <Footer bgColor="" /> -->
</LayoutSite>

<!-- 
<script>
window.addEventListener('load', function() {
  function updateWrapperHeight() {
  // Get the height of the text-wrapper div
  let textWrapper = document.querySelector('.text-wrapper') as HTMLDivElement;
  let textWrapperHeight = textWrapper.offsetHeight;
  console.log(textWrapperHeight);

  // Apply the height to the image-wrapper div
  let imageWrapper = document.querySelector('.image-wrapper') as HTMLDivElement;
  imageWrapper.style.height = textWrapperHeight + 'px';
  console.log(imageWrapper.style.height)
  }

  updateWrapperHeight();
  window.addEventListener('resize', updateWrapperHeight);
});

</script> -->