---
import LayoutSite from "@layouts/LayoutSite.astro";

import { Image } from "astro:assets";

import AnikSpringt from "@images/anik-springt.png";

---

<LayoutSite title="Anik von Rohr - Systemische Beratung | Über mich" class="bg-bg-primary">
  <div class="flex flex-col w-full min-h-screen">
    <main class="flex-grow py-24 lg:py-36">
      <div class="md:w-5/6 max-w-[1600px] mx-auto px-0 sm:px-6 lg:px-8 h-full flex items-center">
        <div class="w-full">
          <div class="flex flex-col h-full lg:flex-row lg:space-x-8">
            <!-- Image column -->
            <div class="lg:w-1/2">
              <div class="overflow-hidden w-full h-full" >
                <Image
                  src={AnikSpringt}
                  alt="Anik von Rohr springt über eine Mauer"
                  class="object-cover object-center h-full scale-100 hover:scale-105"
                  loading="eager"
                  decoding="async"
                  format="webp"
                />

              </div>
            </div>
            
            <!-- Text column -->
            <div class="px-6 pt-6 lg:pt-0 sm:px-0 lg:w-1/2 xl:w-2/3 text-[var(--bone-900)]">
              <h1 class="mb-6 text-3xl font-bold">Über mich</h1>
              <div class="grid-wrapper">
                <div class="space-y-4 text-xl text-justify">
                  <p>
                    Seit 2017 lebe ich mit meinem Mann und meinen beiden Kindern in Köln.
                  </p>
                  <p>
                    Ich bin Grundschullehrerin und seit 2023 systemische Beraterin (DGSF zertifiziert).
                  </p>
                  <p>
                    Seit 2024 arbeite ich in einer stationären Inobhutnahme von minderjährigen Jugendlichen beim Deutschen Roten Kreuz.
                  </p>
                </div>
                <div class="quote">
                  <blockquote class="">
                    Vertrauen ist eine Oase des Herzens, die die Karawane des Denkens nie erreicht.
                  </blockquote>
                  <p class="">- Khalil Gibran</p>
                </div>
                <p class="text-xl">Lassen Sie mich Ihnen helfen, wieder mehr Vertrauen in Ihr Handeln und Gefühl zu bekommen, damit Sie sich nicht im Denken verlieren.</p>
                <a href="/systemische-beratung" class="italic text-xl hover:text-[var(--secondary-400)] hover:underline">&rarr; Was ist systemische Beratung?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</LayoutSite>

<style>

  img {
    transform: scaleX(-1);
    transition: all 0.5s ease-in-out;

  }
  .grid-wrapper {
    display: grid;
    gap: 2rem;
  }
  .quote {
    width: 75%;
    margin: 0 auto;
    text-wrap: pretty;
  }

  .quote p {
    text-align: right;
  }
  blockquote {
    margin-top: 2rem;
    font-style: italic;
    font-size: 1.85rem;
    line-height: 1.25;
    font-weight: 700;
  }

  blockquote::before {
    content: open-quote;
  }

  blockquote::after {
    content: close-quote;
  }
</style>