---
import LayoutSite from "@layouts/LayoutSite.astro";
import Navbar from "@components/site/common/Navbar.astro";
import Footer from "@components/site/common/Footer.astro";

import { Image } from "astro:assets";

import AnikHeroPortrait from "@images/AnikHero-H30A1875_portrait.webp";

---

<LayoutSite title="Anik von Rohr - Systemische Beratung | Über mich">
  <div class="flex flex-col min-h-screen w-full">
    <Navbar />
    <main class="flex-grow bg-[var(--secondary-600)] pt-32 lg:pt-36">
      <div class="md:w-5/6 max-w-[1600px] mx-auto px-4 sm:px-6 lg:px-8 h-full flex items-center">
        <div class="w-full">
          <div class="flex flex-col lg:flex-row lg:space-x-8 h-full">
            <!-- Image column -->
            <div class="lg:w-1/2 xl:w-1/3  lg:pb-0 pb-8 ">
              <div class="w-full lg:h-full overflow-hidden" >
                <Image
                  src={AnikHeroPortrait}
                  alt="Anik von Rohr"
                  class="w-full min-h-full object-cover "
                />

              </div>
            </div>
            
            <!-- Text column -->
            <div class="lg:w-1/2 xl:w-2/3">
              <h1 class="text-3xl font-bold mb-6 text-[var(--text-100)]">Über mich</h1>
              <div class="text-xl text-[var(--text-100)] space-y-4 text-justify">
                <p>
                  Ich bin 44 Jahre alt und Zentrum meines Systems sind mein Mann und meine zwei Kinder (7 und 10 Jahre) hier in Köln.
                </p>
                <p>
                  Eines meiner Kinder ist im Autismus Spektrum, dadurch habe ich viel Selbsterfahrung über die Krankheit und den damit entstanden Problemen Erfahrung sammeln können. Mittlerweile habe ich einen großen Schatz an Ideen, die ich gerne an andere Eltern mit Kindern im Autismus Spektrum weitergeben möchte.
                </p>
                <p>
                  Ich bin Grundschullehrerin und habe auch als Lernbegleiterin gearbeitet.
                </p>
                <p>
                  Im Sommer 23 habe ich die Ausbildung zur systemischen Beraterin am Kölner Institut (DGSF Zertifiziert), erfolgreich abgeschlossen und arbeite seither als selbstständige Beraterin im Raum Köln. Zusätzlich habe ich auch Klient:Innen von weiter weg, die ich Online Berate.
                </p>
                <p>
                  Ich freue mich Sie kennen zu lernen und ein Stück auf Ihrem Weg in mehr Selbstwirksamkeit und Zufriedenheit zu begleiten.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</LayoutSite>
