---
import LayoutSite from "@layouts/LayoutSite.astro";
import Navbar from "@components/site/common/Navbar.astro";
import Footer from "@components/site/common/Footer.astro";
---

<LayoutSite title="Anik von Rohr - Systemische Beratung | Über mich">
  <Navbar />
  <main class="h-screen bg-[var(--secondary-600)]">
    <section
      class="flex flex-col justify-center h-full py-12 max-w-6xl md:max-w-[80%] mx-auto items-left text-[var(--text-100)]"
    >
      <h1 class="text-2xl">Über mich</h1>
      <p class="text-xl">ich bin 44 Jahre alt und Zentrum meines Systems sind mein Mann und meine zwei Kinder (7 und 10 Jahre)hier in Köln.
        Eines meiner Kinder ist im Autismus Spektrum, dadurch habe ich viel Selbsterfahrung über die Krankheit und den damit entstanden Problemen Erfahrung sammeln können. Mittlerweile habe ich einen großen Schatz an Ideen, die ich gerne an andere Eltern mit Kindern im Autismus Spektrum weitergeben möchte. 
        Ich bin Grundschullehrerin und habe auch als Lernbegleiterin gearbeitet. 
        Im Sommer 23 habe ich die Ausbildung zur systemischen Beraterin am Kölner Institut (DGSF Zertifiziert), erfolgreich abgeschlossen und arbeite seither als selbstständige Beraterin im Raum Köln. Zusätzlich habe ich auch Klient:Innen von weiter weg, die ich Online Berate. 	
        
        Ich freue mich Sie kennen zu lernen und ein Stück auf Ihrem Weg in mehr Selbstwirksamkeit und Zufriedenheit zu begleiten. 
        </p>
    </section>
  </main>
  <Footer />
</LayoutSite>
