/* CSS HEX */
--bone: #dbcebdff;
--silver: #c2c4beff;
--ash-gray: #a8babfff;
--cadet-gray: #8fafc0ff;
--air-superiority-blue: #75a5c1ff;

/* CSS HSL */
--bone: hsla(34, 29%, 80%, 1);
--silver: hsla(80, 5%, 76%, 1);
--ash-gray: hsla(193, 15%, 70%, 1);
--cadet-gray: hsla(201, 28%, 66%, 1);
--air-superiority-blue: hsla(202, 38%, 61%, 1);

/* SCSS HEX */
$bone: #dbcebdff;
$silver: #c2c4beff;
$ash-gray: #a8babfff;
$cadet-gray: #8fafc0ff;
$air-superiority-blue: #75a5c1ff;

/* SCSS HSL */
$bone: hsla(34, 29%, 80%, 1);
$silver: hsla(80, 5%, 76%, 1);
$ash-gray: hsla(193, 15%, 70%, 1);
$cadet-gray: hsla(201, 28%, 66%, 1);
$air-superiority-blue: hsla(202, 38%, 61%, 1);

/* SCSS RGB */
$bone: rgba(219, 206, 189, 1);
$silver: rgba(194, 196, 190, 1);
$ash-gray: rgba(168, 186, 191, 1);
$cadet-gray: rgba(143, 175, 192, 1);
$air-superiority-blue: rgba(117, 165, 193, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
$gradient-right: linear-gradient(
  90deg,
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
$gradient-left: linear-gradient(
  270deg,
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
$gradient-radial: radial-gradient(
  #dbcebdff,
  #c2c4beff,
  #a8babfff,
  #8fafc0ff,
  #75a5c1ff
);
