---
const { title = "Anik von Rohr | Systemische Beratung" } = Astro.props;
import "../styles/global.css";
import { ClientRouter } from 'astro:transitions';
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-[var(--bone-200)]">
    <div>
      <slot />
    </div>
  </body>
</html>
